DirectoryIndex index.html
ErrorDocument 404 http://shpecsuf.org/

<files password.php>
order allow,deny
deny from all
</files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteRule ^(.*)$ $1.html [NC,L]